<div [class.my-dark-theme]="isDarkTheme">
  <md-toolbar>
    <span class="logo">{{title}}</span>
    <nav md-tab-nav-bar>
      <a md-tab-link *ngFor="let link of links" [routerLink]="link.href" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
      {{link.name}}
      </a>
    </nav>
    <button md-button [mdMenuTriggerFor]="menu" class="btn-theme">Theme</button>
  </md-toolbar>
  <md-menu #menu="mdMenu">
    <button md-menu-item (click)="isDarkTheme=true">Dark</button>
    <button md-menu-item (click)="isDarkTheme=false">Light</button>
  </md-menu>
  <router-outlet></router-outlet>
</div>
